/ResumeWebAppUsingJavaEE/ResumeWebAppUsingJDBC/ResumeDatabaseApp/target 
/ResumeWebAppUsingJavaEE/ResumeWebAppUsingJDBC/ResumeWebAppJDBC/target
/ResumeWebAppUsingJavaEE/ResumeWebAppUsingJPA/ResumeDatabaseApp/target
/ResumeWebAppUsingJavaEE/ResumeWebAppUsingJPA/ResumeWebAppJPA/target